body {
	margin: 2em;
	font-family: sans-serif;
}

#output {
/*	width: 495px;*/
	margin-top: 1em;
	border: 1px solid black;
	padding: 1em;
}

.hilite {
	background: yellow;
}

.tag {
/*	background-color: lightgrey;*/
/*	padding: 1em;*/
	margin: 0.5em;
}